main {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 150px;
}

/*h1 {
    font-size: 48px;
    font-weight: 600px;
    color: var(--color3);
    margin: 24px 24px;
}*/

h3 {
    width: 80%;
    font-weight: 300;
    color: var(--color3);
    margin: auto;
}

.underline {
    text-decoration: underline;
    color: var(--color3);
}

.underline:hover {
    color: var(--color2);
}

.portrait {
    position: absolute;
    width: 250px;
    transform: translate(-170px, 55px);
}

#portraity {
    display: none;
}

#portraita {
    display: none;
}

#portraits {
    display: none;
}

#namey:hover+#portraity {
    display: initial;
}

#namea:hover+#portraita {
    display: initial;
}

#names:hover+#portraits {
    display: initial;
}

.divider {
    display: block;
    width: 100%;
    margin: 68px 0px;
}

#team {
    text-align: justify;
    margin: 56px 24px;
}

.profile {
    display: inline-block;
    max-width: 47.5%;
    margin: 12px 0px;
}

.profile img {
    display: block;
    width: 100%;
}

.profile h5 {
    font-size: 24px;
    font-weight: 500;
    color: var(--color3);
    margin-top: 14px;
}

@media screen and (max-width: 600px) {
    h3 {
        font-size: 22px;
        line-height: 28px;
    }

    .divider {
      margin: 28px 0px;
    }

    .profile {
        max-width: 100%;
    }

    .profile h5 {
        font-size: 16px;
    }
}

@media screen and (min-width: 600px) {
  h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .divider {
      margin: 48px 0px;
    }

    .profile h5 {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
  h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .divider {
      margin: 48px 0px;
    }

    .profile h5 {
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) {
  h3 {
        font-size: 34px;
        line-height: 44px;
    }

    .divider {
      margin: 68px 0px;
    }

    .profile h5 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    h3 {
        font-size: 34px;
        line-height: 44px;
    }

    .divider {
      margin: 68px 0px;
    }

    .profile h5 {
        font-size: 24px;
    }
}