* {
  padding: 0px;
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
}

body {
  background-color: #f76c6c;
  font-family: "Inter", sans-serif;
}

header {
  background-color: #f76c6c;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
}

#nav {
  position: relative;
  max-width: 1200px;
  height: 80px;
  margin: auto;
}

#nav img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 120px;
}

#nav ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}

#nav li {
  display: inline;
  padding: 12px 24px;
}

#nav li a:link, a:visited {
  font-weight: 600;
  font-size: 16px;
  color: #24305e;
}

#nav li a:hover {
  color: #f8e9a1;
}

main {}

#wrapper {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 86px;
  font-weight: 600;
  margin: 300px 0px 0px 0px;
  color: #24305e;
}

#highlight {
  color: #f8e9a1;
}

h3 {
  max-width: 850px;
  font-size: 36px;
  font-weight: 400;
  margin: 30px 0px 0px 0px;
  color: #374785;
}

form {
  margin: 30px 0px 0px 0px;
}

input[type=text] {
  width: 450px;
  height: 60px;
  background-color: #FBB1B1;
  color: #24305e;
  font-size: 20px;
  padding: 0px 15px 0px 15px;
}

input[type=submit] {
  width: 160px;
  height: 60px;
  background-color: #a8d0e6;
  color: #24305e;
  font-size: 20px;
  font-weight: 600;
  margin: 0px 0px 0px 10px;
}

input[type=submit]:hover {
  opacity: 0.7;
}

/* #f8e9a1 */
/* #f76c6c */
/* #a8d0e6 */
/* #374785 */
/* #24305e */